<div class="col-auto col-md-3 col-xl-2 bg-dark d-sm-none d-md-block">
    <div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            
            <li>
                <a href="/project/add-project" data-bs-toggle="collapse" class="nav-link px-0 align-middle navbar-brand mt-3 ml-3">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Add Projects</span> </a>
            </li>
            <li >
                <a  data-bs-toggle="collapse" class="nav-link px-0 align-middle navbar-brand mt-3 ml-3 nav-link" href="/project/all-projects">All Projects</a>
              </li>          
              <li >
                <a data-bs-toggle="collapse" class="nav-link px-0 align-middle navbar-brand mt-3 ml-3 nav-link" href="/labels/all-labels">All Labels</a>
              </li>  
        </ul>
        <hr>
    </div>
</div>