<div class="container-fluid ">
    <div class="row flex-nowrap">
        <%- include('./sidebars/_sidebar') %>
        <div class="col py-3 sm-hidden">
            
           <div class="container-fluid">
            <section class="py-5 text-center container">
              <%- include('./body/_addproject') %>
              <%- include('./body/_dashboardPosts'); %>
              </section>
        </div>
    </div>
</div>  
  
  
    