<div class="container-fluid ">
    <div class="row flex-nowrap">
        <%- include('./sidebars/_sidebar') %>
        <div class="col-auto col-md-9 col-xl-10 bg-white d-md-block">
            <div class="row mt-5">
                 <!-- filter partial is here -->
                <%- include('./body/_filter') %>
                 <!-- filter full project details is here -->
                <%- include('./body/_projectDetail'); %>
            </div>
         </div>