<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Issue tracker web app</h1>
      <p class="lead text-muted">Track your issues here.</p>
      <p>
        <a href="/project/add-project" class="btn btn-primary my-2">Add Projects</a>
        
      </p>
    </div>
  </div>
