<div class="col py-3 sm-hidden">
    <div class="container-fluid">
     <section class="py-5 text-center container">
        <!-- write ejs code for if -->
        <% if (title=='Home') { %>
            <%- include('./_addproject') %>
            <%- include('./_dashboardPosts') %>
        <% } %>
               
       </section>
 </div>
</div>