<div class="col-md-3">
    <h4>Filters</h4>
    <div>
       <p> Labels </p>
      <% for(label of labels) { %>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%= label._id %>" id="flexCheckChecked" >
        <label class="form-check-label" for="flexCheckChecked">
          <%= label.name %>
        </label>
        </div>
      <% } %>
    </div>
    <div>
        <p> Authors </p>
        <div class="mb-3">
            <label for="authorName" class="form-label">Author Name</label>
            <input type="text" class="form-control" id="authorName" placeholder="Author Name">
          </div>
    </div>
    <div>
        <p>Search Box</p>
        
            <div class="mb-3">
                <label for="authorTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="authorTitle" placeholder="Author Title">
            </div>
            <div class="mb-3">
                <label for="issueDescription" class="form-label">Issue Description</label>
                <textarea class="form-control" id="issueDescription" rows="5"></textarea>
            </div>
            
        
    </div>
</div>